*{
    margin: 0px;
    padding: 0px;
}
#banner{
    width: 100%;
    height: 500px;
    background-image: url('../img/BW.jpg');
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
#banner h1{
    color: blue;
}